.questions {
  padding-bottom: 10px;
  margin-top: 79px;
  margin-bottom: 90px;
  @include section-main-gap;

  &__body {
    display: flex;
    flex-direction: column;
    gap: $lgGap;
    box-shadow: 0px 26px 39px -4px $mainBoxShadowColor;
    border-radius: 5px;
    padding-bottom: 48px;

    @media (max-width: $fullPc) {
      padding-bottom: 0;
      box-shadow: none;
    }
    @media (max-width: $tablet) {
      gap: $midGap;
    }
  }

  &__title {
    @include third-title;
    margin: 0 auto;
    max-width: 810px;
  }
}

.form-questions {
  display: flex;
  padding: 0 60px;
  align-items: flex-end;
  gap: 24px;
  margin-top: 2px;
  @media (max-width: $fullPc) {
    padding: 0;
    margin-top: 0;
    flex-direction: column;
    align-items: flex-start;
  }

  &__items {
    display: flex;
    gap: 24px;
    flex: 1 1 100%;
    width: 100%;
    @media (max-width: $tablet) {
      flex-wrap: wrap;
    }
    @media (max-width: $mobile) {
      flex-direction: column;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 6px;
    flex: 0 0 260px;

    @media (max-width: $tablet) {
      flex: 1 1 45%;
    }
    @media (max-width: $mobile) {
      flex: 1 1 auto;
    }

    &_m {
      flex: 1 1 auto;
    }
  }

  &__label {
    @include form-main-label;
  }

  &__input {
    @include from-main-input;
  }

  &__button {
    @include main-button;
    & {
      font-size: clamp(11px, 14px, 1.5vw);
      height: 44px;
      min-width: 104px;
      @media (max-width: $mobile) {
        min-width: 80px;
        height: 30px;
      }
    }
  }
}
