.pricing {
  margin-top: 82px;
  margin-bottom: 100px;

  & &__container {
    @media (max-width: $mobile) {
      padding-right: 0;
    }
  }

  @include section-main-gap;

  &__body {
    @include title-content-gap;
  }

  &__info {
    @include main-title-text-wrapper;
  }

  &__title {
    @include second-title;
  }

  &__text {
    @include second-text;
  }

  &__wrapper {
    display: flex;
    justify-content: stretch;
    width: auto;
  }
}

.table-pricing {
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(229, 232, 237, 1);
  border-radius: 4px;
  padding: 31px 0 19px 0;
  box-shadow: 0px 4px 34px -2px rgba(30, 33, 44, 0.3);
  box-sizing: border-box;

  @media (max-width: $tablet) {
    width: auto;
  }

  @media (max-width: $mobile) {
    padding: $midGap 0 $smGap 0;
    margin-right: 15px;
  }

  &__row {
    display: flex;
    @include third-text;
    text-align: left;
    min-height: 58px;
    align-items: center;
    flex-grow: 1;
    gap: 20px;
    width: auto;
    flex-wrap: nowrap;
    padding-left: 23px;
    padding-right: 9px;

    &_m {
      min-height: auto;
      margin-bottom: 26px;
      align-items: flex-end;
    }

    &_bg {
      background: rgba(244, 245, 246, 1);
    }

    &_b {
      padding-top: $midGap;
    }

    @media (max-width: $tablet) {
      gap: 15px;
    }
    @media (max-width: $mobile) {
      min-width: 595px;
      padding-left: $smGap;
      min-height: 40px;
    }
  }

  &__item-start {
    flex: 1 1 auto;
    font-size: clamp(16px, 18px, 2vw);
    font-weight: 700;
    line-height: 1.5;
    display: flex;
    align-items: flex-end;

    @media (max-width: $tablet) {
      flex: 1 0 200px;
    }
    @media (max-width: $mobile) {
      flex: 1 0 190px;
      max-width: 190px;
    }
  }

  &__item-text {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  &__config-wrapper {
    flex: 0 0 225px;
    display: flex;
    flex-direction: column;
    align-items: center;
    @media (max-width: $tablet) {
      flex: 0 0 150px;
    }
    @media (max-width: $mobile) {
      flex: 0 0 120px;
    }
  }

  &__config-measure {
    @include second-text;
    font-weight: 700;
    color: $thirdColor;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__config-name {
    font-size: clamp(17px, 24px, 2.3vw);
    font-weight: 700;
    line-height: 1.5;
    text-align: center;
    color: $secondColor;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__item-name {
    flex: 1 1 auto;
    @media (max-width: $tablet) {
      flex: 1 0 200px;
    }
    @media (max-width: $mobile) {
      flex: 1 0 190px;
      max-width: 190px;
    }
  }

  &__item-name-text {
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 100%;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    white-space: wrap;
    text-overflow: ellipsis;
  }

  &__item {
    flex: 0 0 225px;
    display: flex;
    justify-content: center;
    @media (max-width: $tablet) {
      flex: 0 0 145px;
    }
    @media (max-width: $mobile) {
      flex: 0 0 120px;
    }
  }

  &__item-image {
    aspect-ratio: 1/1;
    width: 20px;
    object-fit: contain;

    @media (max-width: $mobile) {
      width: 16px;
    }
  }

  &__button {
    @include third-button;

    & {
      height: 36px;
      font-family: Ubuntu;
      font-size: 16px;
      font-weight: 700;
      line-height: 16px;
      letter-spacing: 0.5px;
      text-align: center;
      padding: 10px 20px;
      min-width: 143px;
      font-size: clamp(9px, 12px, 1.3vw);
      max-width: 100%;
      white-space: nowrap;

      @media (max-width: $tablet) {
        min-width: 90px;
      }
      @media (max-width: $tablet) {
        padding: 10px;
      }
    }
  }
}
