@mixin main-arrow {
  position: absolute;
  height: 48px;
  width: 48px;
  border-radius: 50%;
  background: $secondBgColor;
  transition: all ease 0.3s;

  &::after {
    content: none;
  }

  @media (max-width: $tablet) {
    width: 40px;
    height: 40px;
  }
}

@mixin main-arrow-icon {
  position: absolute;
  fill: $mainColor;
  width: 25px !important;
  height: 25px !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: contain;
  @media (pointer: fine) {
    &:hover {
      background: $secondBgColor;
    }
  }

  @media (max-width: $tablet) {
    width: 22px !important;
    height: 22px !important;
  }
}

@mixin main-arrow-disabled {
  background: none;
  opacity: 1;
}

@mixin main-arrow-icon-disabled {
  width: 24px;
  height: 24px;
  fill: $forthColor;

  @media (max-width: $tablet) {
    &::before {
      width: 16px;
      height: 11px;
    }
  }
}
