.work-filter {
  position: relative;
  top: -59px;
  @media (max-width: $fullPc) {
    top: 0;
  }
  @include section-main-gap;
}

.items-work-filter {
  display: flex;
  column-gap: $midGap;
  row-gap: 40px;
  flex-wrap: wrap;
  @media (max-width: $fullPc) {
    justify-content: center;
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 17px;
    flex: 1 0 210px;
    align-items: center;
    padding: 32px $smGap;
    position: relative;
    border-radius: 3px;
    box-shadow: 0px 4px 34px -11px rgba(30, 33, 44, 0.3);
    cursor: pointer;
    transition: all ease 0.3s;

    @media (max-width: $fullPc) {
      flex: 0 0 200px;
    }
    @media (max-width: $mobile) {
      padding: $midGap $smGap;
      flex: 0 1 25%;
      max-width: 200px;
    }
    @media (max-width: $mobileSmall) {
      flex: 1 1 40%;
    }

    &::before {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: $mainBgColor;
      z-index: -1;
      border-radius: 3px;
    }

    &::after {
      position: absolute;
      content: '';
      top: 50%;
      left: 50%;
      width: 0;
      height: 0;
      background: $secondBgColor;
      transition: all ease 0.3s;
      z-index: -1;
      border-radius: 3px;
      transition: all ease 0.3s;
    }

    @media (pointer: fine) {
      &:hover {
        box-shadow: 0px 19px 101px -30px $secondBgColor;

        &::after {
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }
        .items-work-filter__text {
          color: $mainColor;
        }

        .items-work-filter__img {
          fill: $mainBgColor;
        }
      }
    }
  }

  &__img {
    width: 48px;
    height: 48px;
    position: relative;
    transition: all ease 0.3s;
    fill: $secondBgColor;

    @media (max-width: $mobile) {
      width: 35px;
      height: 48px;
    }
  }

  &__text {
    font-size: clamp(13px, 16px, 1.6vw);
    font-weight: 700;
    line-height: 1.5;
    text-align: center;
    color: rgba(154, 156, 165, 1);
    transition: all ease 0.3s;
  }
}
