.ended-project-path {
  margin-top: 92px;
  padding-bottom: $lgGap;
  padding-top: 61px;

  @media (max-width: 1500px) {
    margin-top: 75px;
  }
  @media (max-width: $fullPc) {
    margin-top: 70px;
  }

  @media (max-width: $tablet) {
    margin-top: 60px;
  }
  @media (max-width: $mobile) {
    margin-top: 40px;
  }
  &__body {
    display: flex;
    gap: 8px;
  }

  &__item {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    color: $thirdColor;
    position: relative;
    padding-right: 15px;

    &:last-child &-slash {
      display: none;
    }
  }

  &__item-slash {
    position: absolute;
    right: 0;
    top: 2px;
    height: 15px;
    width: 7px;
    object-fit: contain;
  }
}
