.client-fitback {
  margin-top: 80px;
  margin-bottom: 60px;

  @include section-main-gap;

  &__items {
    display: flex;
    gap: 50px;
    justify-content: space-between;
    @media (max-width: $tablet) {
      flex-direction: column;
      gap: $midGap;
    }
    @media (max-width: $mobile) {
      gap: $smGap;
    }
  }

  &__item {
    &_s {
      flex: 0 1 48.8%;
      margin: 0;
      height: 100%;
      @media (max-width: $tablet) {
        max-width: 80%;
        margin: 0 auto;
        flex: none;
      }
      @media (max-width: $mobileSmall) {
        max-width: 100%;
      }
    }

    &_m {
      flex: 0 0 40.245%;
      aspect-ratio: 495/550;
      @media (max-width: $tablet) {
        flex: none;
        margin: 0 auto;
        height: clamp(250px, 350px, 50vw);
      }
    }
  }

  &__img-wrapper {
    user-select: none;
    width: 100%;
    height: 100%;
  }

  &__img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 3px;
  }

  &__next-button-wrapper {
    right: 0px;
  }

  &__next-button {
    position: absolute !important;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(180deg);
    object-fit: contain;
    background-size: contain;
  }

  &__prev-button-wrapper {
    right: 48px;
    left: auto;
    border-radius: 50%;
  }

  &__prev-button {
    position: absolute !important;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: contain;
    background-size: contain;
  }

  &__next-button-wrapper,
  &__prev-button-wrapper {
    border-radius: 50%;
    top: auto;
    bottom: 20px;
    position: absolute;
    width: 25px;
    height: 25px;

    &::after {
      content: none;
    }
  }

  &__next-button,
  &__prev-button {
    fill: #424551;
    transition: all ease 0.3s;

    @media (pointer: fine) {
      &:hover {
        fill: rgb(255, 134, 104);
      }
    }
  }

  &__body {
    @include title-content-gap;
    & {
      padding-bottom: 20px;
      box-sizing: border-box;
    }
  }

  &__title {
    @include second-title;
    text-align: left;
    user-select: none;
  }

  &__content {
    display: flex;
    flex-direction: column;
    position: relative;
  }

  &__client-logo-wrapper {
    aspect-ratio: 1/1;
    width: 72px;
  }

  &__client-logo {
    width: 100%;
    height: 100%;
    object-fit: contain;
    user-select: none;
  }

  &__message {
    @include third-text;
    color: rgba(66, 69, 81, 1);
    text-align: left;
    margin-top: 24px;
    @media (max-width: $tablet) {
      margin-top: $midGap;
    }
    @media (max-width: $tablet) {
      margin-top: $smGap;
    }
  }

  &__name {
    font-size: 16px;
    font-size: clamp(13px, 16px, 1.6vw);
    font-weight: 700;
    line-height: 1.6;
    margin-top: 24px;
    max-width: 85%;
    @media (max-width: $tablet) {
      margin-top: $midGap;
    }
    @media (max-width: $tablet) {
      margin-top: $smGap;
    }
  }

  &__position {
    @include forth-text;
    margin-top: 4px;
    max-width: 85%;
    user-select: none;
  }
}
