.discuss-details {
  margin-top: 75px;
  background-image: image-set(
    '/img/templates/discuss-details/discuss-details-bg.webp' type('image/webp'),
    '/img/templates/discuss-details/discuss-details-bg.jpg' type('image/jpeg')
  );
  background-repeat: no-repeat;
  background-size: cover;
  padding: 80px 20px;
  margin-bottom: 0 !important;

  &-service {
    margin-top: 90px;
  }

  &-about {
    margin-top: 30px;
  }

  &-positions {
    margin-top: 89px;
  }

  &-news {
    margin-top: 87px;
  }

  @include section-main-gap;

  @media (max-width: $fullPc) {
    padding: 40px 20px;
  }
  @media (max-width: $mobile) {
    padding: $midGap $smGap;
  }

  @include section-main-gap;
}

.form-discuss-details {
  display: flex;
  justify-content: flex-end;

  @media (max-width: $fullPc) {
    justify-content: center;
  }

  &__body {
    background-color: $mainBgColor;
    flex: 0 1 495px;
    padding: 48px 40px;
    box-sizing: border-box;
    box-shadow: 0px 4px 41px -18px rgba(30, 33, 44, 0.5);

    @media (max-width: $tablet) {
      padding: $lgGap;
    }
    @media (max-width: $mobile) {
      padding: $midGap;
    }
  }

  &__title {
    @include third-title;
  }

  &__items {
    display: flex;
    flex-direction: column;
    margin-top: 24px;
    gap: 20.3px;
    align-items: center;
    @media (max-width: $tablet) {
      margin-top: $midGap;
    }
    @media (max-width: $mobile) {
      margin-top: $smGap;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 7px;
    width: 100%;

    &_checkbox {
      flex-direction: row;
      align-items: flex-start;
      gap: 12px;
    }
  }

  &__label {
    @include form-main-label;

    &_checkbox {
      cursor: pointer;
    }
  }

  &__input {
    @include from-main-input;
  }

  &__textarea {
    @include from-main-textarea;

    height: 66px;
  }

  &__checkbox-wrapper {
    position: relative;
  }

  &__checkbox {
    margin-top: 3px;
    appearance: none;
    -webkit-appearance: none;
    aspect-ratio: 1/1;
    height: 16px;
    border: 1px solid $secondBgColor;
    border-radius: 3px;
    cursor: pointer;

    &:checked {
      background: $secondBgColor;
    }
  }

  &__checkbox-icon {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    object-fit: contain;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    display: none;
  }

  &__checkbox:checked + &__checkbox-icon {
    display: block;
  }

  &__button {
    @include main-button;
    & {
      min-width: 174px;
      display: inline-block;
      height: 44px;
      font-size: clamp(11px, 14px, 1.5vw);
      padding: 0 10px;

      @media (max-width: $mobile) {
        min-width: 120px;
        height: 30px;
      }
    }
  }
}
