<div class="footer__container">
  <div class="footer__items">
    <div class="footer__row footer__row_rights">
      <div class="footer__main main-footer">
        <div class="main-footer__row main-footer__row_rights">
          <a class="main-footer__logo-link" href="/SpaceConstruction/">
            <svg class="main-footer__logo">
              <use xlink:href="/icons/sprite.svg#footer-logo"></use>
            </svg>
          </a>

          <div class="main-footer__social social-main-footer">
            <a href="#" class="social-main-footer__social-img-link">
              <svg
                class="social-main-footer__social-img social-main-footer__social-img_viber"
              >
                <use xlink:href="/icons/sprite.svg#footer-social-img-1"></use>
              </svg>
            </a>

            <a href="#" class="social-main-footer__social-img-link">
              <svg
                class="social-main-footer__social-img social-main-footer__social-img_messenger"
              >
                <use xlink:href="/icons/sprite.svg#footer-social-img-2"></use>
              </svg>
            </a>

            <a href="#" class="social-main-footer__social-img-link">
              <svg
                class="social-main-footer__social-img social-main-footer__social-img_facebook"
              >
                <use xlink:href="/icons/sprite.svg#footer-social-img-3"></use>
              </svg>
            </a>

            <a href="#" class="social-main-footer__social-img-link">
              <svg
                class="social-main-footer__social-img social-main-footer__social-img_twiter"
              >
                <use xlink:href="/icons/sprite.svg#footer-social-img-4"></use>
              </svg>
            </a>

            <a href="#" class="social-main-footer__social-img-link">
              <svg
                class="social-main-footer__social-img social-main-footer__social-img_youtube"
              >
                <use xlink:href="/icons/sprite.svg#footer-social-img-5"></use>
              </svg>
            </a>
          </div>
        </div>

        <div class="main-footer__row">
          <p class="main-footer__text">
            Createx Construction Bureau has been successfully operating in the
            USA construction market since 2000. We are proud to offer you
            quality construction and exemplary service. Our mission is to set
            the highest standards for the construction sphere.
          </p>
        </div>
      </div>

      <form class="footer__form form-footer">
        <p class="form-footer__title">Let’s stay in touch</p>

        <div class="form-footer__input-wrapper">
          <input class="form-footer__input" placeholder="Your email address" />

          <button class="form-footer__button" type="submit">subscribe</button>
        </div>

        <label class="form-footer__label">
          *Subscribe to our newsletter to receive communications and early
          updates from Createx Construction Bureau.
        </label>
      </form>
    </div>

    <div class="footer__row footer__row_info">
      <div class="footer__info info-footer">
        <div class="info-footer__items">
          {{#each footerData}}

          <article
            class="info-footer__item {{#if modifier}}info-footer__item{{modifier}}{{/if}} spoiler-footer"
          >
            <div class="info-footer__title-wrapper">
              <h1 class="info-footer__title spoiler-footer-title">
                {{this.title}}
              </h1>
              <svg class="info-footer__title-img">
                <use
                  xlink:href="/icons/sprite.svg#footer-rights-button-arrow"
                ></use>
              </svg>
            </div>

            <div class="info-footer__body spoiler-footer-content">
              {{#each this.links}}

              <p class="info-footer__data">
                <a href="{{this.href}}"> {{this.name}} </a>
              </p>

              {{/each}}
            </div>
          </article>

          {{/each}}
        </div>
      </div>
    </div>

    <div class="footer__row footer__row_r">
      <div class="footer__rights rights-footer">
        <div class="rights-footer__items">
          <div class="rights-footer__item">
            <p class="rights-footer__text">
              © All rights reserved. Made with

              <svg class="rights-footer__icon">
                <use xlink:href="/icons/sprite.svg#footer-rights-icon"></use>
              </svg>

              by Createx Studio
            </p>
          </div>

          <div class="rights-footer__item rights-footer__item_button-wrapper">
            <div class="rights-footer__top-text">GO TO TOP</div>

            <button class="rights-footer__top-button">
              <svg class="rights-footer__top-button-img">
                <use
                  xlink:href="/icons/sprite.svg#footer-rights-button-arrow"
                ></use>
              </svg>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
