<meta charset='UTF-8' />

<meta name='viewport' content='width=device-width, initial-scale=1.0' />

<link rel='preconnect' href='https://fonts.googleapis.com' />

<link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />

<!-- fonts -->
<link
  href='https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap'
  rel='stylesheet'
/>

<!-- swiper css if needed -->

{{#if isSwiper}}
  <link
    rel='stylesheet'
    href='https://unpkg.com/swiper/swiper-bundle.min.css'
    media='print'
    onload="this.media='all'"
  />
{{/if}}

<title>Space Construction</title>