<meta charset='UTF-8' />

<meta name='viewport' content='width=device-width, initial-scale=1.0' />

<link rel='preconnect' href='https://fonts.googleapis.com' />

<link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />

<link
  rel='stylesheet'
  href='https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap'
  media='print'
  onload="this.media='all'"
/>

<link
  rel='apple-touch-icon'
  sizes='180x180'
  href='/img/favicons/main-favicon-icon/apple-touch-icon.png'
/>
<link
  rel='icon'
  type='image/png'
  sizes='32x32'
  href='/img/favicons/main-favicon-icon/favicon-32x32.png'
/>
<link
  rel='icon'
  type='image/png'
  sizes='16x16'
  href='/img/favicons/main-favicon-icon/favicon-16x16.png'
/>
<link rel='manifest' href='/img/favicons/main-favicon-icon/site.webmanifest' />

<!-- swiper css if needed -->

{{#if isSwiper}}
  <link
    rel='stylesheet'
    href='https://unpkg.com/swiper/swiper-bundle.min.css'
    media='print'
    onload="this.media='all'"
  />
{{/if}}

<title>Space Construction</title>