<div class='our-projects__container'>
  <div class='our-projects__body'>
    <h1 class='our-projects__title'>{{ourProjectsData.title}}</h1>

    <div
      class='our-projects__items items-our-projects swiper swiper-our-project'
    >
      <div class='items-our-projects__content swiper-wrapper'>
        {{#each ourProjectsData.items}}

          <article
            class='items-our-projects__item swiper-slide project-block-item'
          >
            <img
              alt='img'
              class='items-our-projects__img project-block-img'
              src='{{this.imgSrc}}'
            />

            <div class='items-our-projects__body project-block-body'>
              <h1 class='items-our-projects__title project-block-title'>
                {{this.title}}
              </h1>

              <p class='items-our-projects__name project-block-name'>
                {{this.category}}
              </p>

              <button class='items-our-projects__button project-block-button'>
                <a
                  class='items-our-projects__link project-block-link'
                  href='/SpaceConstruction/src/html/pages/work/endedProject.html'
                >
                  View Project
                </a>
              </button>
            </div>
          </article>

        {{/each}}
      </div>

      <div
        class='our-projects__prev-button swiper-button-prev swiper-our-projects-button-prev'
      ></div>

      <div
        class='our-projects__next-button swiper-button-next swiper-our-projects-button-next'
      ></div>
    </div>

    <div class='our-projects__view view-our-projects'>
      <p class='view-our-projects__text'>Explore all our works</p>

      <button class='view-our-projects__button'>
        <a
          class='view-our-projects__link'
          href='/SpaceConstruction/src/html/pages/work/work.html'
        >View portfolio</a>
      </button>
    </div>
  </div>
</div>