.our-history {
  margin-top: 91px;
  margin-bottom: 100px;

  @include section-main-gap;

  &__body {
    @include title-content-gap;
    & {
      gap: 59px;
    }
  }

  &__title {
    @include second-title;
    text-align: left;
    max-width: 70%;
  }

  &__content {
    display: flex;
    gap: $lgGap;
    justify-content: space-between;

    @media (max-width: $mobile) {
      flex-direction: column;
    }
  }

  &__column {
    &_p {
      flex: 0 1 20.244%;
      @media (max-width: $mobile) {
        order: 2;
      }
    }

    &_s {
      width: 65.85%;
      @media (max-width: $tablet) {
        width: 60%;
      }
      @media (max-width: $mobile) {
        width: 100%;
      }
    }
  }
}

.swiper-our-history {
  overflow: visible;
  position: relative;

  & .swiper-button-disabled {
    @include main-arrow-disabled;
  }

  &__next-button,
  &__prev-button {
    @include main-arrow;

    top: -72px;
    @media (max-width: $tablet) {
      top: -40px;
    }
  }

  &__next-button {
    right: 0;
  }

  &__prev-button {
    right: 61px;
    left: auto;

    &::before {
      transform: translate(-50%, -50%) rotate(180deg);
    }
  }

  &__wrapper {
    display: flex;
    width: 100%;
  }

  &__slide {
    display: flex;
    flex-direction: column;
    gap: 36px;
    @media (max-width: $mobile) {
      gap: $midGap;
    }
  }

  &__img {
    // width: 100%;
    height: clamp(300px, 450px, 60vh);
    max-height: 45vw;
  }

  &__text {
    @include third-text;
    color: $forthColor;
    text-align: left;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 100%;
    box-sizing: border-box;
    width: 100%;

    @media (max-width: $tablet) {
      -webkit-line-clamp: 3;
    }
  }
}

.custom-pagination-swiper-our-history {
  position: static;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: $midGap;

  @media (max-width: $mobile) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
  }

  & .swiper-pagination-bullet-active &__title {
    color: $secondBgColor;
  }

  & .swiper-pagination-bullet-active {
    &::before {
      background: $secondBgColor;
    }
  }

  &__bullet {
    position: relative;
    margin: 0;
    background: none;
    width: auto;
    height: auto;
    background: none;
    opacity: 1;
    padding-left: 40px;
    display: inline-block;
    margin: 0 !important;
    max-width: 249px;
    @media (max-width: $tablet) {
      max-width: 220px;
    }
    @media (max-width: $mobile) {
      flex: 0 0 26%;
      padding-left: $lgGap;
      max-width: 26%;
    }
    @media (max-width: 600px) {
      padding-left: $midGap;
      flex: 1 0 38%;
      max-width: 43%;
    }

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 0px;
      transform: translate(0, -50%);
      aspect-ratio: 1/1;
      width: 8px;
      border-radius: 50%;
      background: rgba(154, 156, 165, 1);
      transition: all ease 0.3s;
    }

    &:hover {
      &::before {
        background: $secondBgColor;
      }
      .custom-pagination-swiper-our-history__title {
        color: $secondBgColor;
      }
    }
  }

  &__title {
    font-size: 28px;
    font-weight: 700;
    line-height: 1.5;
    color: rgba(154, 156, 165, 1);
    white-space: nowrap;
    transition: all ease 0.3s;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;

    @media (max-width: $tablet) {
      font-size: 25px;
    }
    @media (max-width: $mobile) {
      font-size: clamp(12px, 20px, 3vw);
    }
  }

  &__line {
    &::after {
      position: absolute;
      content: '';
      top: 0;
      left: 3px;
      height: 13px;
      width: 1px;
      background: rgba(154, 156, 165, 1);
    }
    &::before {
      position: absolute;
      content: '';
      bottom: -20px;
      left: 3px;
      height: calc(13px + $midGap);
      width: 1px;
      background: rgba(154, 156, 165, 1);
    }

    &_l {
      &::before {
        height: 13px;
        bottom: 0;
      }
    }

    @media (max-width: $tablet) {
      &::after {
        height: 10px;
      }

      &::before {
        height: 30px;
      }
    }

    @media (max-width: $mobile) {
      display: none;
    }
  }
}
