// color variables

$mainColor: white; // Колір шрифту за замовчуванням
$secondColor: rgba(30, 33, 44, 1);
$thirdColor: rgba(120, 122, 128, 1);
$forthColor: rgba(66, 69, 81, 1);

// hover color

$mainHoverColor: rgba(255, 90, 48, 1);
$secondHoverColor: white;

// main bg color

$mainBgColor: white;
$secondBgColor: rgba(255, 90, 48, 1);
